# Python
backend/venv/
backend/__pycache__/
backend/routers/__pycache__/
backend/.env

# Compiled python files (Everywhere)
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# Databases
backend/*.db
backend/*.sqlite3

# Node / React
frontend/node_modules/
frontend/dist/
frontend/.env.local

# OS related
.DS_Store
Thumbs.db